.control-box-wrapper {
    background-color: yellow;
    flex: 1;
    color: black;
    display: flex;
    flex-direction: column;
}
.comp-name {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.change-color {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-control {
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn {
    background-color: black;
    color: #fff;
    padding: 15px 35px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}
